doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Page Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='css/style.css')
  body
    script(src='js/homepage.js')
    #login
      form
        h1 Sign In
        input(type='text', placeholder='Username')
        input(type='password', placeholder='Password')
        button Sign in
        a(href='#') Don't have an account?Create one
